ul.currencys{
    width: 30%;
    min-width: 350px;
    list-style: none;
    padding: 0;
    margin: 0;
    li.currency{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 24px;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 4px 4px 9px #25252533;
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0px;
        }
        .currency-info{
            display: flex;
            gap: 30px;
            img{
                width: 20px;
                height: auto;
            }
            h4{
                font-size: 24px;
                color: #252525;
            }
        }
        .currency-amount{
            font-size: 20px;
            color: #252525;
            line-height: 25px;
        }
    }
}