header{
    padding: 10px 0;
}

header .container{
    display: flex;
    justify-content: space-between;
}

.currencys{
    display: flex;
    list-style: none;
    gap: 20px;
}

.currencys li{
    display: flex;
    gap: 5px;
}

.currencys li img{
    width: 30px;
}